[user]
	name = Hao Wang 
	email = haowang02@outlook.com
[credential]
	helper = store
[init]
	defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
